.my-parts {
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
  }
  .my-parts table {
    border-collapse: collapse;
    border: 1px solid rgba(0,0,0,.1);
    table-layout: fixed;
    width: 1100px;
  }
  .my-parts th, .my-parts td {
    border: 1px solid rgba(0,0,0,.1);
    padding: .6em;
    text-align: center;
    background: #fff;
  }
  .my-parts th {
    background: #009688;
    color: #fff;
    font-weight: bold;
  }
