/* ここから下がボタンのCSS　*/

button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.container .sort {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    padding-top: 40px;
    z-index: 99;
}


/* ここから下がボタンのCSS　*/

.btn-loading {
    display: inline-flex;
    text-decoration: none;
    font-weight: 700;
    color: #111;
    width: 300px;
    height: 300px;
    font-size: 14px;
    position: relative;
    opacity: 1 !important;
    transition: all 0.3s;
    background-color: #CCC;
    border-radius: 100%;
    transition: color 0.4s;
    overflow: hidden;
}

.btn-loading:before,
.btn-loading:after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 0;
    background-color: #65A04D;
    pointer-events: none;
}

.btn-loading:before {
    bottom: 0;
    left: 0;
}

.btn-loading:after {
    top: 0;
    right: 0;
}

.btn-loading:hover {
    color: #65A04D;
}

.btn-loading:hover:before,
.btn-loading:hover:after {
    height: 100%;
}

.btn-loading:hover:before {
    transition: height 0.2s 0.2s linear;
}

.btn-loading:hover:after {
    transition: height 0.2s linear;
}

.btn-loading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: #FFF;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    font-size: 40px;
}

.right {
    text-align: right;
    position: fixed;
    margin-top: 60px;
    /* 要素内側の余白を指定する */
}

body {
    background-color: transparent;
    background-image: radial-gradient(#00B0F0 3px, transparent 3px);
    background-size: 30px 30px;
    overflow: hidden;
    z-index: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}